@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Teachers", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;   
}

html, body{
    height: 100%;
}


:root{
    --light-red: rgb(243, 177, 177);
}

.container {
    width: 100vw;
    height: 100%;
    background-color: rgb(243, 177, 177);
}

nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.nav-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo h2 {
    font-size: 30px;
}

.nav-logo span {
    color: red;
    font-weight: 900;
}

.search-input input[type=search] {
    padding-left: 15px;
    width: 250px;
    height: 35px;
    border-radius: 10px;
    border: solid 1px white;
    background-color: white;
}

.search-input input[type=submit] {
    width: 100px;
    height: 35px;
    border-radius: 10px;
    border: solid 1px white;
    background-color: transparent;
    cursor: pointer;
    transition: all .50s;
}

.search-input input[type=submit]:hover {
    background-color: red;
    color: white;
}

.search-input input[type=search]::placeholder {
    color: red;
}

.user-account a {
    margin: 5px;
    text-decoration: none;
    color: red;
}

.user-account a:hover {
    text-decoration: underline;
}



.menu-bar{
    display: none;
    cursor: pointer;
}

.bar{
    width: 30px;
    height: 5px;
    background-color: red;
    margin: 7px;
    transition: all .50s
}

/*media query for mobile devices*/
@media(max-width:739px){
    .user-account, .search-input{
        display: none !important;
    }

    .menu-bar{
        display: inline-block;
    }
}

@media(min-width: 739px) {
    .dropdown-card{
        display: none !important;
    }
}



/*menu bar transition*/
.change .bar1{
    transform: translate(0, 11px);
}

.change .bar2{
    opacity: 0;
}


.change .bar3{
    transform: translate(0, -11px);

}


/***dropdown**/
.dropdown-card{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 0;
    transition: all .50s;
}


.dropdown-card-classlist{
    height: 190px;
}

.dropdown-ul{
    display: none;
}

/*dropdown u; classlist */
.show-display{
    display: inline-block;
    opacity: 1;
}


.dropdown-card ul li{
    list-style: none;
    margin: 15px;
    text-align: center;

}

.dropdown-card ul li a{
    text-decoration: none;
    font-size: 25px;
    color: red;
    font-weight: 500;
    text-align: center;
}


.dropdown-card input[type="search"]{
    height: 30px;
    width: 200px;
    border-radius: 6px;
    border: solid white 1px;
    padding-left: 15px;
}


.dropdown-card input[type="submit"]{
    width: 90px;
    height: 30px;
    border: solid white 1px;
    background-color:  transparent;
    cursor: pointer;
    border-radius: 6px;
}


.dropdown-card input[type="submit"]:hover{
    background-color: red;
    color: white;
}
/* overview container */
.overview {
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/overview-bg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden; /* Ensure the overview container handles overflow */
}


.overview-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 0 30px 0 30px;
}


.overview-grid{
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-template-rows: 1fr;
}


@media(max-width:739px){
    /****overview-grid***/

    .overview-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 250px 1fr;
    }

    .overview-wrapper{
        padding: 0;
    }

    .sypnosis{
        color: white;
        padding: 0 15px 0 15px !important;
    }

}

.movie-poster{
    display: flex;
    justify-content: center;
    align-items: center;
}


.movie-poster img{
    width: 100%;
    height: 80%;
    object-fit: cover;
    filter: brightness(1.2) contrast(1.2);
}


.sypnosis{
    color: white;
    padding: 0 45px 0 45px;
}


.sypnosis>div{
    margin: 13px;
    text-align: left;
}

.movie-title{
    font-weight: 900;
}

.rating{
    width: fit-content;
    border: solid ;
    background-color: var(--light-red);
    display: flex;
    justify-content: center;
    color: red
}

.rating p{
    font-weight: 900;
}


.sypnosis-context p{
    color: orange;  
}


/****results-container**/
.results-container{
    width: 100%;
    background-color: var(--light-red);
}


.movie-card-wrapper{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}


.movie-card{
    width: 260px;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 10px;
    transition: all .50s;
}


.movie-card:hover{
    transform: scale(1.1);
}


@media(max-width:609px){
    .movie-card{
        width: 150px;
    }

    .movie-bg{
        height: 200px !important;
    }
}



@media(max-width:375px){
    .movie-card{
        width: 100%;
    }

    .movie-bg{
        height: 400px !important;
    }
}

.movie-bg{
    height: 400px;
    position: relative;
}

.movie-bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    position: absolute;
}

.movie-name{
    display: flex;
    justify-content: center;
    padding-left: 10px;
    color: white;
}

.context-card{
    background-color: black;
    color: white;
}


.context-card .release-date{
    display: flex;
    justify-content: center;
}

.trailer-btn button{
    width: 120px;
    height: 35px;
    background-color: var(--light-red);
    cursor: pointer;
    transition: all .50s;
    border: solid white 1px;
}


.trailer-btn button:hover{
    background-color: red;
    color: white;
}